.main{
    width: 1px / 2px;
    height: 120px;
    margin: 15px 50px 15px 50px;
    padding: 15px;
    border-radius: 10px;
    background-color: #400E32;
    border: 1px solid #c12c97;

    .title{
        margin-bottom: 20px;
    }

    .paragraph{
        font-size: small;
        color: rgb(181, 181, 181);
    }
}

@media only screen and (max-width: 600px) {
    .main{
        width: 330px;
        margin: 15px;
        height: max-content;
    }
}