.main{
    width: 1px / 2px;
    height: 400px;
    margin: 15px 50px 15px 50px;
    border-radius: 10px;
    background-color: #000000;
    display: flex;

    .left{
        width: 900px;
        height: 100%;
        border-radius: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #400E32;
        border:2px solid #c12c97;
        display: flex;
        .title{
            font-size: large;
        }
        .container{
            margin: 20px;
            width: 235px;
            border-radius: 10px;
            display: flex;
            background: grey;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            border:2px solid #c12c97;
            .index{
                border-radius: 10px 10px 0px 0px;
                border-bottom:2px solid #c12c97;
            }
            .phase, .softCap, .hardCap, .index{
                width: 100%;
                height: 100px;
                background-color: #6c1653;
                border-bottom:2px solid #c12c97;
            }
            .hardCap{
                border-radius:0px 0px 10px 10px;
                border-bottom: none;
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        .rightTop{
            height: 60%;
            width: 500px;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #400E32;
            border: 2px solid #c12c97;
            .personalInfo{
                .mainBody{
                    margin-top: 20px;
                    display: flex;
                    gap: 80px;
                    .col1, .col2, .col3{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                    }
                }
            }
        }
        .rightBottom{
            height: 40%;
            padding: 10px;
            border-radius: 10px;
            background-color: #582b2b;
            border: 2px solid #c12c97;
            .kyc{
                .container{
                    display: flex;
                    margin-top: 30px;
                    justify-content: space-evenly;
                }
            }
        }
    }
}