.wrapper {
  border: 1px solid #D30074;
  height: 10px;
  border-radius: 10px;
  }
  
  .container {
    background-color: #dc0f87;
    height: 10px;
    border-radius: 10px;

  }
  
  .barCompleted {
    background-color: lightblue;
    width: 80%;
    height: 10px;
    border-radius: 10px;

  }
  
  .label {
    color: green;
    height: 10px;
  }